body {
  margin: 0;
}

.todo-column {
  margin: auto;
  width: 45%;
  height: 50rem;
  background: linear-gradient(
    288deg,
    rgba(61, 245, 255, 1) 13%,
    rgba(223, 87, 161, 1) 100%,
    rgba(214, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3df5ff",endColorstr="#d600ff",GradientType=1,);
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.todo-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: rgba(46, 104, 138, 0.322);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.todo-container h1 {
  position: relative;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  text-align: center;
}

.todo-container h4 {
  position: relative;
  left: 10px;
  top: 0px;
  font-size: large;
  font-weight: 600;
  color: white;
  position: relative;
}

.created-at {
  bottom: 10px;
  left: 10px;
  margin: auto;
  font-size: small;
  color: rgba(229, 229, 248, 0.918);
  position: relative;
}

.add-button, .edit-button, .delete-button {
  margin: 2rem;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 40px;
  color: white;
  background-color: rgba(90, 10, 86, 0.404);
  border: none;
  box-shadow: 1px 1px 6px 0px #000000;
  -webkit-box-shadow: 1px 1px 6px 0px #000000;
  -moz-box-shadow: 1px 1px 6px 0px #000000;
}

.form-container {
  margin: auto;
  width: 200px;
}


